 <app-header></app-header>
 <app-sidebar></app-sidebar>
<div class="dashboard-header">
  <h2 class="dashboard-title">Employee Document</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <a href="#">Employee Profile</a> &gt;
    <span>Employee Documents</span>
  </nav>
</div>

<div class="tab-container">
  <!-- Radios -->
  <input type="radio" id="tab1" name="tab" [checked]="selectedTab === 'tab1'">
  <input type="radio" id="tab2" name="tab" [checked]="selectedTab === 'tab2'">
  <input type="radio" id="tab3" name="tab" [checked]="selectedTab === 'tab3'">
  <input type="radio" id="tab4" name="tab" [checked]="selectedTab === 'tab4'">

  <!-- Tab Header -->
  <div class="tab-header">
    <label class="tab-label" for="tab1" *ngIf="canViewLetters">Letters</label>
    <label class="tab-label" for="tab2" *ngIf="canViewForms">Forms</label>
    <label class="tab-label" for="tab3" *ngIf="canViewDocuments">My Documents</label>
    <label class="tab-label" for="tab4" *ngIf="canViewMyLettersForms">My Letters/Forms</label>
  </div>

  <!-- TAB 1: LETTERS -->
<div id="content1" class="tab-content" *ngIf="canViewLetters">
  <app-employee-letters></app-employee-letters>
</div>

  <!-- TAB 2: FORMS -->
 <div id="content2" class="tab-content" *ngIf="canViewForms">
  <app-employee-forms></app-employee-forms>
 </div>


  <!-- TAB 3: EMPLOYEE DOCUMENTS -->
 <div id="content3" class="tab-content" *ngIf="canViewDocuments">
  <app-employee-document></app-employee-document>
 </div>

 <div id="content4" class="tab-content" *ngIf="canViewMyLettersForms">
  <app-employee-my-letters-forms></app-employee-my-letters-forms>
 </div>

</div>
<app-footer></app-footer>